@use 'ress';
@use './loadFonts.scss';
@use './mixins/medias.scss' as *;
@use './mixins/fonts.scss';

html {
  width: 100%;
  height: 100%;
  font-size: calc(1000vw / 750);
  @include pc {
    font-size: calc(1000vw / 1500);
  }
  @include fonts.poppins;
  overflow: hidden;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
