<div class="mouse-stalker"></div>

<style lang="scss">
  .mouse-stalker {
    position: absolute;
    width: 15px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #fff9;
    pointer-events: none;
  }
</style>
